body{
	margin:0;
	height: 100vh;
	font-family: 'Arial';
}

.dashboard{
	height: 100vh;
	background-color:#F3F3F3;
}

.createRetroForm{
	background-color:#F3F3F3;
}

#retro-body {
	background-color: #66B9DD;
	height: 100vh;
}

.header {
	display: -webkit-flex;
	display: flex;
	background-color: #956EAB;
	height: 40px;
	width: 100%;
	align-content:flex-start;
	color: #F3F3F3;
}

.header__retro {
	display: flex;
	justify-content: center;
	font-size:10px;
}

.sign-in {
	display: flex;
	justify-content: center;
	flex-direction:column;
	width:500px;
	height:500px; 
	margin:0 auto;
}

.left{
	position: absolute;
	left: 5px;
	top: 6px;
}

.right{
	position: absolute;
	right: 5px;
	top: -8px;
}

.center{
	margin-right:auto;
	margin-left:auto;
	margin-top: -8px;
}

.header__text_box{
	height: 40px;
	font-size: 12px;
}

.retro-columns__title{
	display: flex;
	min-width: 200px;
	margin: 5px 5px;
	justify-content:space-around;
	font-size: 18px;
}

#retro-columns__titles{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}

.retro-columns{
	
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	font-size:12px;
	height: 85vh;
}

.retro-column {
	display: flex;
	min-width:250px;
	width: 25%;
	max-width: 400px;
	margin:0px 5px;
	min-height:100px;
	background-color: #F3F3F3;
	border-radius: 15px;

}

.retro-columns__items{
	display: flex;
	background-color: #F3F3F3;
}

.dashboard-form{
	display: flex;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 1px;
	width: 80%;
	margin:50px;
	padding: 20px;
	flex-direction: column;
}

.dashboard-form form{
	display: flex;
	padding: 20px;
	flex-direction: row;
}

.link{
	color:blue;
	text-decoration: underline;
	cursor:pointer;
}

input{
	margin-left: 5px;
}

button{
	margin-left: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
}