body{
	margin:0;
	height: 100vh;
	font-family: 'Arial';
	min-height: 100%;
}

html { height: 100%; }

.main_wrapper{
	width: 950px;
	margin:0 auto;
}

.mobile_wrapper{
	width: 90%;
	margin:0 auto;
}

.dashboard{
	height: 100vh;
	background-color:#F3F3F3;
}

.createRetroForm{
	background-color:#F3F3F3;
}

/* retro.js */

#retro-body {
	background-color: #66B9DD;
	height: 100vh;
}
.full-height{
	height: 100%;
	max-width:450px;
	min-width:250px;
	margin:5px;
	width: 25vw;
}

.retro-columns{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	font-size:12px;
	height: 90vh;
}

.retro-column {
	display: flex;
	flex-direction: column;
	min-width:250px;
	max-width: 400px;
	min-height:100px;
	background-color: #F3F3F3;
	border-radius: 12px;
	height: 85%;

}

.retro-column input{
	height: 20px;
	margin-top: 15px;
	margin-left: 8px;
	margin-right: 8px;
	min-height: 20px;
	/*width: 90%;*/

}

/* header.js */
.header {
	display: -webkit-flex;
	display: flex;
	background-color: #956EAB;
	height: 40px;
	width: 100%;
	align-content:flex-start;
	color: #F3F3F3;
}

.row{
	display: flex;
	flex-direction: row;
}

.header .left{
	position: absolute;
	left: 5px;
	top: 6px;
}

.header .right{
	position: absolute;
	right: 5px;
	top: -8px;
}

.center{
	margin-right:auto;
	margin-left:auto;
	margin-top: -8px;
}

.header__text_box{
	height: 40px;
	font-size: 12px;
}

/* mobile_header.js*/

.mobile_header {
	display: -webkit-flex;
	display: flex;
	background-color: #956EAB;
	height: 50px;
	width: 100%;
	align-content:flex-start;
	color: #F3F3F3;
}
.mobile_header h1 {
	font-size: 18px;
	margin-bottom: 0px;
}

.mobile_header button {
	margin: 0 0 0 50px;
}

.mobile_header .right{
	position: absolute;
	right: 5px;
	top: -8px;	
}

.mobile_header .left{
	position: absolute;
	left: 5px;
	top: 6px;
}



/* sign_in.js */
.sign-in {
	display: flex;
	justify-content: center;
	flex-direction:column;
	width:500px;
	height:500px; 
	margin:0 auto;
}


/* retro-columns */

.retro-columns__title{
	display: flex;
	min-width: 200px;
	margin: 5px 5px;
	justify-content:space-around;
	font-size: 18px;
}

.retro-column-items{
	display:block;
	background-color: #F3F3F3;
	overflow-y: scroll;
	margin-left: 8px;
	margin-right: 8px;
	height: 93%;
}


.action-column-items{
	display:block;
	background-color: #F3F3F3;
	overflow-y: scroll;
	margin-top: 17px;
	margin-left: 8px;
	margin-right: 8px;
	height: 96.8%;
}

/* dasboard.js */

.dashboard-form{
	display: flex;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 1px;
	margin: 30px 0;
	padding: 20px;
	flex-direction: column;
}

.dashboard-form form{
	display: flex;
	padding: 20px;
	flex-direction: row;
}

.link{
	color:blue;
	cursor:pointer;
}

input{
	margin-left: 5px;
}

button{
	margin-left: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
}



/* retro_item.js */

.action-link{
	font-size: 12px;
	color: blue;
	margin-left: auto;
	margin-right: 5px;
}

.edit-link{
	font-size: 12px;
	color: blue;
	margin-left: 5px;
	margin-right: auto;
}

.retro-item{
	display: flex;
	flex-direction: column;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	min-height: 50px; 
	font-size:14px;
	border: solid 1px lightgrey;
}

/* retro_item.js and action_item.js */ 

.status-and-action-bar{
	align-content: flex-end;
	background-color: lightgrey;
	height: 100%;
	width:100%;
	display: flex;
	align-content: flex-end;
	margin-bottom: 0px;
	margin-top: auto;
	padding-top: 3px;
}

.retro-item-description{
	padding: 5px;
}

.item-info{
	font-size: 12px;
	margin-left: auto;
	margin-right: 5px;
}

/* createRetro.js */

/*Retro tables in dashboard*/
.project-retros {
	width: 100%;
	margin: 20px 0;
}

.project-retros-header {
	display: flex;
	background-color: white;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 1px;
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
	justify-content: flex-start;
}

.project-retros-new-button {
	align-self: flex-end;
}

.retro-table {
	background-color: white;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 1px;
	border-radius: 0px 0px 5px 5px;
}

.retro-table td {
	text-align: center;
	padding: 5px 10px;
}

/* tracker_token_form.js */

.token_label{
	font-size: 12px;
}