<!DOCTYPE html>
<html>
<head>
  <title>RetroActive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
<script src="https://apis.google.com/js/platform.js?" async defer></script>
  <%= csrf_meta_tags %>
  <meta name="google-signin-client_id" content="569976604919-g796ovfj23d40fpi1jjerpn2vvp88mso.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
  <script type="text/javascript">
	

	 onSignIn = function(googleUser) {
		profile = googleUser.getBasicProfile();
		var user_data = {};
		user_data.name = profile.getName();
		user_data.email = profile.getEmail();
		user_name = user_data.name;
		user_email = user_data.email;
		localStorage.setItem("user_name", user_name);
		localStorage.setItem("user_email", user_email);
		//need to set and then get it otherwise it doesn't persist
		localStorage.getItem("user_name");
		localStorage.getItem("user_email");
		try{
			var redirect = localStorage.getItem("url_redirect");
			if(redirect==null){
				throw 10;
			}
			else{
				localStorage.removeItem("url_redirect");
				window.location.href = redirect;
			}
		}catch(err){
			window.location.href = "/dashboard";
		}
		
	}

	signOut = function() {
		gapi.load('auth2', function() {
			var auth2 = gapi.auth2.init({
	            client_id: '569976604919-g796ovfj23d40fpi1jjerpn2vvp88mso.apps.googleusercontent.com',
	            cookie_policy: 'single_host_origin'
	        });
			localStorage.removeItem("user_email");
			localStorage.removeItem("user_name");
			localStorage.removeItem("tracker_token");
			auth2.then(function(){
				auth2.signOut();
				window.location.href = "/";
			});
			/*auth2.signOut().then(function () {
				console.log('User signed out.');
				window.location.replace('/');
		    });*/
		});
	    
	}

	//  window.onloadGoogle = function(){
	//  	gapi.load('auth2', function() {
	// 	 	gapi.auth2.init();
	// 	    auth2 = gapi.auth2.getAuthInstance();
	//  		setTimeout(window.checkLogin, 5000);
	//      });
	// }

	// window.checkLogin = function(){
	// 	gapi.auth2.init();
	// 	auth2 = gapi.auth2.getAuthInstance();
	// 	if (auth2.isSignedIn.get()) {
	// 		var profile = auth2.currentUser.get().getBasicProfile();
	// 		console.log('ID: ' + profile.getId());
	// 		console.log('Full Name: ' + profile.getName());
	// 		console.log('Given Name: ' + profile.getGivenName());
	// 		console.log('Family Name: ' + profile.getFamilyName());
	// 		console.log('Image URL: ' + profile.getImageUrl());
	// 		console.log('Email: ' + profile.getEmail());
	// 		window.location = '#/dashboard';
	// 	}
	// 	else{
	// 		console.log("user not signed in");
	// 	}
	// }
	
</script>
  
		

  
</head>
<body>

<div id="app"></div>


<%= javascript_include_tag 'bundle', 'data-turbolinks-track' => true %>
</body>
</html>
