<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>RetroActive - "(project name goes here)"</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
</head>

<body id="retro_body">

	<div class="header header__retro">

		<h1 class="header__title">(Project Number) - (Date of Retro) </h1>
	</div>

	<div id="retro_columns__titles"> 
		<h1 class="retro_columns__title">Happy :)</h1>
		<h1 class="retro_columns__title">Puzzler :|</h1>
		<h1 class="retro_columns__title">Sad :( </h1>
		<h1 class="retro_columns__title">Action Items</h1>
	</div>

	<div class="retro_columns">

		<div class="retro_column">
			
			<div class="retro-column__items">
			</div>
		</div>

		<div class="retro_column">
			
			<div class="retro-column__items">
			</div>
		</div>

		<div class="retro_column">
			
			<div class="retro-column__items">
			</div>
		</div>

		<div class="retro_column">
			
			<div class="retro-column__items">
			</div>
		</div>
	</div>
</body>
</html>